body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #EFF3F6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* 컨테이너 */
.quiz-container {
    position: relative;
    margin: 0px auto 0px auto;
    padding: 20px;
    text-align: center;
}
/* 이미지 컨테이너 스타일 */
.image-container {
    display: flex;
    flex-direction: column; /* 위아래로 배치 */
    justify-content: center;
    align-items: center;
}
#title {
    margin-top: 20%;
    width: 90%;
    height: 90%;
}
#test_character {
    margin-top: 24px;
    width: 0;
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
/* 시작하기 버튼 */
.button-container {
    position: absolute;
    top: 570px;
    left: 0px;

    display: flex;
    flex-direction: column; /* 위아래로 배치 */
    justify-content: center;
    align-items: center;
}
#startButton, #link_share {
    width: 85%;
    height: 100%;
    margin: 8px;
}

#ppl-count {
    margin-top: 9px;

    color: #005EFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 550;
}
.box-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    z-index: -1;

    height: 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#blue-box {
    width: 100%;
    height: 100%;
    background-color: #B3D1FE;
    z-index: -2;
}

/* 화면 너비가 600px 이하, 300px 이상일 때 */
@media (max-width: 600px) and (min-width: 300px) {
    .button-container {
        position: absolute;
        top: 480px;
        left: 0px;
    
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    #startButton, #link_share {
        width: 70%;
        height: 100%;
        margin: 8px;
    }
    #ppl-count {
        margin-bottom: 100px;
        margin-top: 0px;
        font-size: 16px;
        font-style: normal;
        font-weight: 450;
    }
    #test_character {
        margin-top: 0px;
    }
    .box-container {
        position: absolute;
        top: 47%;
        left: 0;
        width: 100%;
        z-index: -1;
    
        height: 50%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* 화면 길이가 690px 이하일 때 */
@media (max-height: 690px) {
    .button-container {
        position: absolute;
        top: 430px;
    
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    #startButton, #link_share {
        width: 70%;
        height: 100%;
        margin: 8px;
    }
    #ppl-count {
        margin-bottom: 100px;
        margin-top: 0px;
        font-size: 16px;
        font-style: normal;
        font-weight: 450;
    }
    #test_character {
        margin-top: 0px;
    }
    .box-container {
        position: absolute;
        top: 55%;
        left: 0;
        width: 100%;
        z-index: -1;
    
        height: 100%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
/* 화면 길이가 690px 이하, 화면 너비가 300px 이하일 때 */
@media (max-width: 300px) and (max-height: 690px) {
    .button-container {
        position: absolute;
        top: 320px;
        left: 0px;
    
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }
    #startButton, #link_share {
        width: 70%;
        height: 100%;
        margin: 8px;
    }
    #ppl-count {
        margin-bottom: 100px;
        margin-top: 0px;
        font-size: 16px;
        font-style: normal;
        font-weight: 450;
    }
    #test_character {
        margin-top: 0px;
    }
    .box-container {
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        z-index: -1;
    
        height: 50%;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}