body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #EFF3F6;

    display: flex;
    flex-direction: column; /* 위아래로 배치 */
    justify-content: center;
    align-items: center;
}
/* 이미지 속성: 25% 로 줄이기 */
img {
    width: 25%;
    height: 25%;
}

/* 컨테이너 */
.quiz-container {
    position: relative;
    margin: 0px auto 0px auto;
    padding: 20px;
    text-align: center;
}
/* 이미지 컨테이너 스타일 */
.image-container {
    display: flex;
    flex-direction: column; /* 위아래로 배치 */
    justify-content: center;
    align-items: center;
}
#title {
    margin-top: 80px;
    width: 343px;
    height: 158px;
}
#test_character {
    margin-top: 24px;
    width: 0;
    opacity: 0;
    transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
/* 시작하기 버튼 */
.button-container {
    position: relative;
    display: flex;
    flex-direction: column; /* 위아래로 배치 */
    justify-content: center;
    align-items: center;
}
.startButton {
    margin: 20px;
    border-radius: 45px;
    background: #1E4F9A;
    border-color: #1E4F9A;

    width: 300px;
    height: 70px;
    flex-shrink: 0;

    color: #EFF3F6;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* 시작하기 버튼 위에 마우스 올렸을 때 */
.startButton:hover {
    background-color: #D0E7F8;
    border: 4px solid #4380DE;
    width: 300px;
    height: 70px;
    border-radius: 45px;

    color: #1E4F9A;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.link_share {
    background-color: #3677D9;
    border: 4px solid #4380DE;
    width: 300px;
    height: 70px;
    border-radius: 45px;

    color: #EFF3F6;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.link_share:hover {
    background-color: #D0E7F8;
    border: 4px solid #4380DE;
    width: 300px;
    height: 70px;
    border-radius: 45px;

    color: #1E4F9A;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#ppl-count {
    margin-top: 9px;

    color: #000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
}
.box-container {
    position: fixed;
    top: 500px;
    left: 0;
    width: 100%;
    z-index: -1;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#blue-box {
    width: 100%;
    height: 400px;
    background-color: #B3D1FE;
    z-index: -2;
}
#mona-logo {
    position: relative;
    top: 300px;
    width: 95px;
    height: 25px;
    margin: 50px;
    z-index: 1;
}