body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFF3F6;
}

/* 아이콘 스타일 */
#icon {
    font-size: 20px;
    margin-left: 10px;
    position: absolute;
    margin-top: 55px;
    margin-left: 4%;
}
/* 이미지 속성: 25% 로 줄이기 */
img {
    width: 25%;
    height: 25%;
    margin-bottom: 73px;
}


/* 질문 컨테이너 */
.quiz-container {
    position: relative;
    max-width: 400px;
    min-height: 600px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: purple; 
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
}


/* 상태바 */
.progress-container {
    position: absolute;
    top: 79;
    left: 0;
    width: 100%;
}
#question-count {
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#progress-bar {
    position: absolute;
    margin: 67px 20px 0px 20px;
    width: 0;
    height: 5px;
    border-radius: 5px 0px 0px 5px;
    background: #00F;
    transition: width 0.5s ease-in-out; /* 애니메이션 효과 추가 */
}
#progress-background {
    position: absolute;
    margin: 67px 20px 0px 20px;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: #C3C3E1;
}


/* 질문 라벨 */
.question {
    position: relative;
    margin-top: 190px;
    
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-weight: 500;
    line-height: normal;
    font-style: normal;
    
    margin-bottom: 20px;
    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    font-weight: bold;
    word-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄 바꿈 */
    line-height: 1.5; /* 줄 간격 조절 */
    min-height: 150px;
}
/* 버튼 컨테이너 */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button1 {
    padding: 10px 20px;
    color: black;
    border-radius: 25px;
    border: 2px solid #4380DE;
    background: #FFF;
    width: 350px;
    height: 120px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    /* 버튼 크기 및 텍스트 레이아웃 조절 */
    text-align: center;
    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    line-height: 1.2; /* 줄 간격 조절 */
    font-size: 22px;
    font-weight: 500;
}

.button2 {
    padding: 10px 20px;
    color: black;
    border-radius: 25px;
    border: 2px solid #4380DE;
    background: #FFF;
    width: 350px;
    height: 120px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    /* 버튼 크기 및 텍스트 레이아웃 조절 */
    text-align: center;
    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    line-height: 1.2; /* 줄 간격 조절 */
    font-size: 22px;
    font-weight: 500;
}
/* 버튼 위에 마우스 올려놓았을 때 이벤트 */
.button1:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.button2:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
/* 로딩뷰 */
#loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other elements */
}

#loadingImage {
    width: 100px; /* Adjust the size as needed */
    height: 100px;
}