body {
    font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EFF3F6;
}
/* 이미지 속성: 25% 로 줄이기 */
img {
    width: 35%;
    height: 35%;
    margin-bottom: 73px;
}

/* 아이콘 스타일 */
#icon {
    position: absolute;
    top: 34px;
    left: -20px;
    margin-left: 2%;
    transition: margin-left 0.5s ease-in-out; /* 애니메이션 효과 추가 */
}
#progressbar_icon {
    width: 80%;
    height: 80%;
    margin-bottom: 0px;
}

/* 질문 컨테이너 */
.quiz-container {
    position: relative;
    max-width: 380px;
    min-height: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}


/* 상태바 */
.progress-container {
    position: relative;
    width: 100%;
    margin: 0px 0px 0px 0px;
}
#question-count {
    position: relative;
    margin-top: 20px;
    margin-left: 0px;
    text-align: start;
    color: #000;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#progress-bar {
    position: absolute;
    top: 60px;
    left: 0;
    width: 0%;
    height: 10px;
    border-radius: 5px 0px 0px 5px;
    background: #00F;
    transition: width 0.5s ease-in-out; /* 애니메이션 효과 추가 */
}
#progress-background {
    /* position: relative; */
    margin: 36px 20px 0px 0px;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #C3C3E1;
}


/* 질문 라벨 */
.question {
    position: relative;
    margin-top: 75px;
    
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    
    margin-bottom: 20px;
    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    font-weight: bold;
    word-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄 바꿈 */
    line-height: 37px; /* 줄 간격 조절 */
    
    min-height: 100px;
}
/* 버튼 컨테이너 */
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button1 {
    padding: 10px 20px;
    color: black;
    border-radius: 30px;
    border: 3px solid #C3C3E1;
    background: #FFFFFF;
    width: 100%;
    height: 90px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    /* 버튼 크기 및 텍스트 레이아웃 조절 */
    text-align: center;
    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    line-height: 34.75px; /* 줄 간격 조절 */
    font-size: 20px;
    font-weight: 500;
}

.button2 {
    padding: 10px 20px;
    color: black;
    border-radius: 30px;
    border: 3px solid #C3C3E1;
    background: #FFFFFF;
    width: 100%;
    height: 90px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
    /* 버튼 크기 및 텍스트 레이아웃 조절 */
    text-align: center;
    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    line-height: 34.75px; /* 줄 간격 조절 */
    font-size: 20px;
    font-weight: 500;
}
/* 버튼 위에 마우스 올려놓았을 때 이벤트 */
.button1:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.button2:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
/* 로딩뷰 */
#loadingContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other elements */
}

#loadingImage {
    width: 100px; /* Adjust the size as needed */
    height: 100px;
}