body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #EFF3F6;
    
    display: flex;
    flex-direction: column; /* 위아래로 배치 */
    justify-content: center;
    align-items: center;
}

#result-title, #level {
    width: 80%;
}

/* 결과 컨테이너 */
.result-container {
    position: relative;
    margin: 10px auto 0px auto;

    max-width: 480px;
    min-height: 600px;
    
    text-align: center;

    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    word-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄 바꿈 */
}
.result-my-type-container {
    position: relative;
    margin: 0px 20px 23px 20px;

    max-width: 480px;
    text-align: center;
}
.result-my-psn-container {
    position: relative;
    margin: 0px 20px 23px 20px;

    max-width: 480px;
    text-align: center;
}
.result-save-tip-container {
    position: relative;
    margin: 0px 20px 23px 20px;

    max-width: 480px;
}

#share-container {
    position: relative;
    margin: 0px 20px 23px 20px;
    padding: 20px 0px;

    max-width: 480px;
    min-height: 120px;
    
    border-radius: 25px;
    border: 2px solid #4380DE;
    background: #FFF;
    text-align: center;
}
#share-button-container {
    position: relative;
    margin: auto 110px;
    display: flex;
    justify-content: space-between;
}
/* 공유하기 */
#share-title {
    margin: 20px;
    color: #1E4F9A;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* 공유하기 버튼 스타일 */
#facebookShareButton, #instaShareButton, #twitterShareButton, #kakaoShareButton {
    width: 50px;
    height: 50px;
    margin: 10px;
}

/* 모나 서비스 이용해보기 */
#use-mona {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #3677D9;
    border: 4px solid #4380DE;

    padding: 10px 60px;
    max-width: 500px;
    height: 70px;
    border-radius: 45px;

    color: #EFF3F6;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}

/* 추천 요금제 컨테이너 */
.plan-container {
    position: relative;
    margin: 0px 20px 23px 20px;
    /* padding: 20px; */

    max-width: 480px;
    min-height: 355px;

    /* 내부 글씨 스타일 */
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#recommend-plan-img {
    width: 100%;
    height: 100%;
}
#move-to-find-plan {
    width: 90%;
    height: 12.5%;

    position: absolute;
    bottom: 38px;
    left: 50%;
    transform: translateX(-50%);
}

#recommend-plan {
    margin: 70px auto 70px auto;
    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    word-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄 바꿈 */
    line-height: 1.5;
}



/* 모나 홈페이지 이동, 테스트 다시하기 */
#move-to-mona, #restart {
    margin: 0px auto 17px auto;
    background-color: #005EFF;
    border: 2px solid #005EFF;
    border-radius: 45px;

    width: 90%;
    height: 58px;
    max-width: 480px;
    
    color: #EFF3F6;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}

.etc-container {
    position: relative;

    max-width: 800px;
    min-height: 100px;

    text-align: center;
    display: flex;
    justify-content: space-between; /* 버튼을 양 옆으로 배치 */
    align-items: center; /* 세로 중앙 정렬 */
}
#share-link-title {
    width: 25%;
    margin-bottom: 18px;
}
/* 결과 다운로드, 결과 링크 복사 */
#download-result, #result-copy-link  {
    margin: 10px;
    background-color: #E1F3FC;
    border: 2px solid #005EFF;
    width: 230px;
    height: 58px;
    border-radius: 45px;

    color: #005EFF;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}
/* 화면 너비가 600px 이하일 때 버튼을 위아래로 배치 */
@media (max-width: 600px) {
    .etc-container {
        justify-content: space-between; /* 버튼을 양 옆으로 배치 */
    }
    #share-button-container {
        justify-content: space-between; /* 버튼을 양 옆으로 배치 */
        margin: auto 65px;
    }
    .result-container {
        position: relative;
        margin: 10px auto 0px auto;

        max-width: 480px;
        min-height: 500px;
    }
  
    #download-result, #result-copy-link {
      margin: 5px;
      width: 160px; /* 버튼을 컨테이너 가로 너비로 늘림 */
      height: 50px;
      font-size: 18px;
    }
    #move-to-mona, #restart {
        margin: 0px auto 10px auto;
        font-size: 18px;
        height: 50px;
    }

    #level {
        width: 200%;
    }

    #facebookShareButton, #instaShareButton, #twitterShareButton, #kakaoShareButton {
        width: 40px;
        height: 40px;
        margin: 5px;
    }
  }