body {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #f0f0f0;
    
    display: flex;
    flex-direction: column; /* 위아래로 배치 */
    justify-content: center;
    align-items: center;
}

#result-title {
    width: 100%;
}

/* 결과 컨테이너 */
.result-container {
    position: relative;
    margin: 40px auto 0px auto;

    max-width: 480px;
    min-height: 600px;
    
    text-align: center;

    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    word-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄 바꿈 */
}
.result-my-type-container {
    position: relative;
    margin: 0px auto 23px auto;

    max-width: 480px;
    min-height: 210px;
    
    border-radius: 25px;
    border: 2px solid #4380DE;
    background: #FFF;
    text-align: center;

    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    word-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄 바꿈 */
}
.result-my-psn-container {
    position: relative;
    margin: 0px auto 23px auto;
    /* padding: 20px; */

    max-width: 480px;
    min-height: 465px;
    
    border-radius: 25px;
    border: 2px solid #4380DE;
    background: #FFF;
    text-align: center;

    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    word-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄 바꿈 */
}
.result-save-tip-container {
    position: relative;
    margin: 0px auto 23px auto;
    /* padding: 20px; */

    max-width: 480px;
    min-height: 400px;
    
    border-radius: 25px;
    border: 2px solid #4380DE;
    background: #FFF;
    text-align: center;

    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    word-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄 바꿈 */
    line-height: 28.96px;
}

#share-container {
    position: relative;
    margin: 0px auto 23px auto;

    max-width: 480px;
    min-height: 192px;
    
    border-radius: 25px;
    border: 2px solid #4380DE;
    background: #FFF;
    text-align: center;
}
#share-button-container {
    position: relative;
    margin: auto 110px;
}

/* 공유하기 */
#share-title {
    margin: 20px;
    color: #1E4F9A;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* 공유하기 버튼 스타일 */
#facebookShareButton {
    width: 50px;
    height: 50px;
    margin: 5px;
}
#instaShareButton {
    width: 50px;
    height: 50px;
    margin: 5px;
}
#twitterShareButton {
    width: 50px;
    height: 50px;
    margin: 5px;
}
#kakaoShareButton {
    width: 50px;
    height: 50px;
    margin: 5px;
}

/* 모나 서비스 이용해보기 */
#use-mona {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #3677D9;
    border: 4px solid #4380DE;

    padding: 10px 60px;
    max-width: 500px;
    height: 70px;
    border-radius: 45px;

    color: #EFF3F6;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}

/* 추천 요금제 컨테이너 */
.plan-container {
    position: relative;
    margin: 15px auto 23px auto;
    /* padding: 20px; */

    max-width: 480px;
    min-height: 355px;

    /* 내부 글씨 스타일 */
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#recommend-plan-img {
    width: 100%;
    height: 100%;
}
#move-to-find-plan {
    width: 90%;
    height: 13%;

    position: absolute;
    bottom: 34px;
    left: 50%;
    transform: translateX(-50%);
}
.highlighted-text {
    margin-top: 20px;
    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    word-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄 바꿈 */
    line-height: 1.5;
}
#recommend-plan {
    margin: 70px auto 70px auto;
    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    word-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄 바꿈 */
    line-height: 1.5;
}


/* 결과 다운로드 */
#download-result {
    margin: 10px;
    background-color: #E1F3FC;
    border: 2px solid #005EFF;
    width: 230px;
    height: 62px;
    border-radius: 45px;

    color: #005EFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}
/* 결과 다운로드 */
#result-copy-link {
    margin: 10px;
    background-color: #E1F3FC;
    border: 2px solid #005EFF;
    width: 230px;
    height: 62px;
    border-radius: 45px;

    color: #005EFF;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}
/* 모나 홈페이지 이동 */
#move-to-mona {
    margin: 0px auto 17px auto;
    background-color: #005EFF;
    border: 2px solid #005EFF;
    border-radius: 45px;

    width: 100%;
    height: 62px;
    max-width: 480px;
    
    color: #EFF3F6;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}
/* 테스트 다시하기 */
#restart {
    margin: 0px auto 17px auto;
    background-color: #005EFF;
    border: 2px solid #005EFF;
    border-radius: 45px;

    width: 100%;
    height: 62px;
    max-width: 480px;

    color: #EFF3F6;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}

.etc-container {
    position: relative;

    max-width: 800px;
    min-height: 100px;

    text-align: center;
}