body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;

    display: flex;
    flex-direction: column; /* 위아래로 배치 */
    justify-content: center;
    align-items: center;
}
/* 이미지 속성: 25% 로 줄이기 */
img {
    width: 25%;
    height: 25%;
    margin: 100px;
}

/* 결과 컨테이너 */
.result-container {
    position: relative;
    margin: 40px auto 50px auto;
    padding: 20px;

    max-width: 800px;
    min-height: 800px;
    
    background-color: white; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#capture {
    position: relative;
    margin: 40px auto 50px auto;
    padding: 20px;

    max-width: 800px;
    min-height: 800px;
    
    background-color: white; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.etc-container {
    position: relative;
    margin: 40px auto 50px auto;
    padding: 20px;

    max-width: 800px;
    min-height: 800px;
    
    /* background-color: white; 
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
}
/* 공유하기 */
#share-title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
}
/* 공유하기 버튼 스타일 */
#facebookShareButton {
    width: 50px;
    height: 50px;
    margin: 10px;
}
#instaShareButton {
    width: 50px;
    height: 50px;
    margin: 10px;
}
#twitterShareButton {
    width: 50px;
    height: 50px;
    margin: 10px;
}
#kakaoShareButton {
    width: 50px;
    height: 50px;
    margin: 10px;
}
/* 테스트 다시하기 */
#restart {
    margin: 20px;
    background-color: #4267B2; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px;
    border-radius: 20px;
    cursor: pointer;
}
/* 모나 서비스 이용해보기 */
#use-mona {
    margin: 20px;
    background-color: #4267B2; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px;
    border-radius: 20px;
    cursor: pointer;
}
/* 결과 다운로드 */
#download-result {
    margin: 20px;
    background-color: #4267B2; 
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: 2px;
    border-radius: 20px;
    cursor: pointer;
}