body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;

    display: flex;
    flex-direction: column; /* 위아래로 배치 */
    justify-content: center;
    align-items: center;
}
/* 이미지 속성: 25% 로 줄이기 */
img {
    width: 25%;
    height: 25%;
    margin: 100px;
}

/* 결과 컨테이너 */
.result-container {
    position: relative;
    margin: 40px auto 15px auto;
    padding: 20px;

    max-width: 480px;
    min-height: 800px;
    
    border-radius: 25px;
    border: 2px solid #4380DE;
    background: #FFF;
    text-align: center;

    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    word-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄 바꿈 */
}
.etc-container {
    position: relative;
    /* margin: 40px auto 50px auto; */
    padding: 20px;

    max-width: 800px;
    min-height: 800px;

    text-align: center;
}
/* 공유하기 */
#share-title {
    margin: 20px;
    color: #1E4F9A;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
/* 공유하기 버튼 스타일 */
#facebookShareButton {
    width: 50px;
    height: 50px;
    margin: 5px;
}
#instaShareButton {
    width: 50px;
    height: 50px;
    margin: 5px;
}
#twitterShareButton {
    width: 50px;
    height: 50px;
    margin: 5px;
}
#kakaoShareButton {
    width: 50px;
    height: 50px;
    margin: 5px;
}
/* 테스트 다시하기 */
#restart {
    margin: 36px 10px 10px auto;
    background-color: #3677D9;
    border: 4px solid #4380DE;
    width: 240px;
    height: 70px;
    border-radius: 45px;

    color: #EFF3F6;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}
/* 모나 서비스 이용해보기 */
#use-mona {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #3677D9;
    border: 4px solid #4380DE;
    width: 500px;
    height: 70px;
    border-radius: 45px;

    color: #EFF3F6;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}
/* 결과 다운로드 */
#download-result {
    margin: 10px;
    background-color: #3677D9;
    border: 4px solid #4380DE;
    width: 240px;
    height: 70px;
    border-radius: 45px;

    color: #EFF3F6;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    cursor: pointer;
}

/* 추천 요금제 컨테이너 */
.plan-container {
    position: relative;
    margin: 15px auto 0px auto;
    padding: 20px;

    max-width: 480px;
    min-height: 355px;
    
    border-radius: 25px;
    border: 2px solid #4380DE;
    background: #FFF;
    text-align: center;

    /* 내부 글씨 스타일 */
    color: #000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.highlighted-text {
    margin-top: 20px;
}
#recommend-plan {
    margin: 70px 130px 70px 130px;
    white-space: pre-line; /* 줄바꿈 문자(\n)를 줄 바꿈으로 처리 */
    display: inline-block; /* 인라인 블록 요소로 표시 */
    word-wrap: break-word; /* 단어가 길어질 경우 자동으로 줄 바꿈 */
    line-height: 1.5;
}